[submodule "messages/proto"]
	path = messages/proto
	url = git@github.com:agdsn/traffic-service-protobuf.git
[submodule "test/gtest"]
	path = test/gtest
	url = https://chromium.googlesource.com/chromium/testing/gtest
